:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 200px;
    background: bisque;
}

.mat-drawer-container {
    height: 100vh; /* Fait en sorte que le conteneur du tiroir (drawer) remplisse la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
  }
  

  app-footer {
    margin-top: auto; 
  }
  